* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
}

/* Navbar */
.navbar {
  width: 100%;
  height: 150px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.navbar_logo {
  width: 100px;
}

/* Contact */
.contact {
  width: 100%;
  height: calc(100vh - 150px);
  /* background-color: rgba(69, 69, 69, 0.866); */
  background-color: black;
  display: flex;
  flex-direction: row;
  min-height: 600px;
  color: #fff;
}
.contact_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.contact_container_info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: 760px;
  width: 100%;
}

.contact_info_title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 80px;
  margin-bottom: 20px;
}

.title_highlight {
  color: #bf9a55;
}
.contact_info_subtitle {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 25px;
  margin-bottom: 45px;
}

.contact_info_buttom {
  background-color: #bf9a55;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  color: #fff;
  text-decoration: none;
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  border-radius: 08px;
  transition: all 0.3s;
}

.contact_info_buttom:hover {
  background-color: #8c713e;
}

.contact_info_buttom:active {
  background-color: #544324;
}

.contact_container_image {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact_image {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  width: 90%;
  border-radius: 8px;
}

/* services */
.services {
  width: 100%;
  /* background-color: rgb(234, 234, 234); */
  background-color: black;
  color: #fff;
  height: calc(100vh - 400px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  margin-top: 20px;
  min-height: 400px;
}
.serv_cont_test {
  width: 50%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 70px;
  margin-bottom: 20px;
  background-color: black;
  color: #fff;
}

.service_title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 70px;
  margin-bottom: 20px;
}
.service_subtitle {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 25px;
  margin-bottom: 55px;
  width: 760px;
}
.service_container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 20px;
}
.service_container_info {
  width: 300px;
  height: 300px;
  margin: 10px 100px 10px 100px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.service_container_title {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 35px;
  color: #bf9a55;
  width: 70%;
  text-align: center;
  margin: auto;
}

.service_info_img {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 8px;
  height: 380px;
  width: 420px;
  margin-bottom: 20px;
  transition: 1s;
}

.service_info_img:hover {
  height: 400px;
  width: 440px;
}

/* Helicopter */
.helicopter {
  width: 100%;
  height: calc(100vh - 500px);
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.helicopter_title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 70px;
  margin-bottom: 20px;
}
.helicopter_subtitle {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 25px;
  margin-bottom: 55px;
}
.helicopter_container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.helicopter_container_info {
  width: 300px;
  height: 300px;
  margin: 10px 100px 10px 100px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.helicopter_info_img {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 8px;
  height: 400px;
  width: 450px;
  margin-bottom: 20px;
  transition: 0.2s;
}
/* .helicopter_info_img:hover {
  height: 400px;
  width: 440px;
} */
.hel_cont_info {
  width: 50%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 70px;
  margin-bottom: 20px;
  background-color: black;
  color: #fff;
}
.helicopter_container_title {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 35px;
  color: #bf9a55;
  width: 70%;
  text-align: center;
  margin: auto;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 400px;
  width: 450px;
  opacity: 0;
  transition: 0.5s;
  background-color: #bf9a55;
  border-radius: 8px;
}

.container:hover .overlay {
  opacity: 1;
}
.container:hover .helicopter_info_img {
  opacity: 0;
}

.text {
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.copter_info {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 26px;
  color: #fff;
  width: 100%;
  text-align: center;
  margin: auto;
}
/* Fotter */
/* To fix in movil */
.separation {
  height: 0px;
  width: 100%;
  background-color: black;
}
.helicopter_container_title {
  opacity: 0;
  position: absolute;
}
.footer {
  width: 100%;
  height: 220px;
  background-color: black;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.icon_footer {
  color: #fff;
  border-radius: 100%;
  border-color: black;
  font-size: 50px !important;
  margin: 10px;
  transition: 0.5s;
}
.icon_footer:hover {
  color: #bf9a55;
  border-color: rgb(66, 66, 66);
}
.footer_rights_container {
  width: 33%;
  display: flex;
  align-content: center;
  justify-content: center;
}
.footer_rights {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 12px;
}
.footer_icon_container {
  margin-bottom: 20px;
  width: 33%;
  display: flex;
  align-content: center;
  justify-content: center;
}
.footer_contact_container {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.footer_contact_info {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 12px;
}
.footer_contact_mail {
  text-decoration: none;
  color: #fff;
  transition: 0.5s;
}
.footer_contact_mail:hover {
  color: #bf9a55;
  border-color: rgb(66, 66, 66);
}

@media only screen and (max-width: 600px) {
  /* contact */
  .contact {
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 25px 15px;
  }
  .contact_container_info {
    align-items: center;
    margin-bottom: 30px;
    text-align: center;
  }
  .contact_info_title {
    align-items: center;
    font-size: 40px;
  }
  .contact_info_subtitle {
    align-items: center;
    font-size: 20px;
  }
  /* Service */
  .services {
    flex-direction: column;
    max-height: 700px;
    padding: 0 0 0px 0;
    margin-bottom: 70px;
  }
  .service_container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  .service_container_info {
    width: 200px;
    height: 150px;
    margin: 45px 0 30px 0;
    margin-bottom: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .service_info_img {
    height: 140px;
    width: 240px;
  }
  .service_info_img:hover {
    height: 140px;
    width: 240px;
  }
  .service_title {
    margin-top: 20px;
    font-size: 30px;
  }
  .service_subtitle {
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .service_container_title {
    font-size: 20px;
    margin-bottom: 30px;
  }
  .serv_cont_test {
    width: 60%;
    margin-top: 30px;
    height: 300px;
    text-align: center;
  }
  /* Helicopter */
  .helicopter {
    flex-direction: column;
    height: 700px;
  }
  .helicopter_info_img {
    height: 140px;
    width: 240px;
  }
  /* Footer */
  .footer {
    flex-direction: column-reverse;
    height: 200px;
    width: 100%;
  }
  .separation {
    height: 300px;
  }
  .helicopter_container_title {
    opacity: 1;
    font-size: 16px;
    width: 100%;
    position: relative;
  }
}
